table {
    background-color: rgb(40, 70, 48);
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
}

td.celula {
    border: 1px solid white;
    text-align: center;
    font-weight: bold;
    vertical-align: center;
    height: 70px;
    width: 90px;
}

td.personagem {
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}

td.objetivo {
    background-color: yellow;
    color: white;
}

td.bloco {
    border-color:  rgb(40, 70, 48);
    background-color: rgb(40, 70, 48);
    color: white;
}

