@font-face {
    font-family: 'Right Chalk';
    src: url('fonts/HolidaysHomework.ttf') format('truetype');
}

/* body {
    margin: 0;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 8px;
	box-sizing: border-box;
	text-align: center;	
} */
body {
	background-image: url('imagens/principal.gif');
	background-size: cover; /* Ajusta a imagem para cobrir o fundo */
    background-position: center; /* Centraliza a imagem de fundo */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    height: 100vh; /* Define a altura do div para ocupar toda a altura da tela */
    width: 100vw; /* Define a largura do div para ocupar toda a largura da tela */
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.background{
	overflow: hidden;
}

h1 {
	font-size: 30px;
	text-align: center;
	color: yellow;
 	font-weight: bold;
 	font-family: 'Right Chalk';
}

.menu {
	display: block;
	align-content: center;
	font-size: 20px;
	margin: auto;
	margin-bottom: 5px;
	border-style: solid;
	border-width: 3px;
	width: 20%;
	padding: 5px;
	background-color: lightgrey;
	border: 3px solid black;
	text-align: center;
	text-decoration: none;
	color: black;
	padding: 5px 0px 5px 0px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}



.menu:visited{     /*cor do texto */
	color: black;
}
