body{
 background-color: rgb(40, 70, 48);   
}
    
p {
    text-align: center;
    font-size: 20px;
    margin: 2% 25%;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
